{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-1">
                    <table class="table table-bordered " style="margin-top: 25px;">
                        <thead class="thead-dark">
                        <h4>Необработанные клиенты</h4>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Имя клиента</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Филиал</th>
                            <th scope="col">Cтатус</th>
                            <th scope="col">Номер Телефона</th>
                            <th scope="col">Консультант</th>
                            <th scope="col">
                                <button type="button" class="btn btn-danger">Удалить</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        {% for post in posts %}
                            <tr class="call_center_row">
                                <th scope="row">{{ post.id }}</th>
                                <td>{{ post.name }}</td>
                                <td>{{ post.status }}</td>
                                <td>{{ post.phone_number }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary"
                                            onclick="getInfo({{ post.id }}, 'modal1')">
                                        <a id="{{ post.id }}">Инфо</a>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if  posts.has_other_pages %}
                        <ul class="pagination">
                            {% if posts.has_previous %}
                                <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in posts.paginator.page_range %}
                                {% if users.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% elif i > posts.number|add:'-5' and i < posts.number|add:'5' %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if posts.has_next %}
                                <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}

                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-1">
                    <table class="table table-bordered " style="margin-top: 25px;">
                        <thead class="thead-dark">
                        <h4>Обработанные клиенты</h4>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Имя клиента</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Время</th>
                            <th scope="col">Филиал</th>
                            <th scope="col">Номер Телефона</th>
                            <th scope="col">Консультант</th>
                            <th scope="col">
                                <button type="button" class="btn btn-danger">Удалить</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        {% for post in call_post %}
                            <tr class="call_center_row">
                                <th scope="row">{{ post.visitor.id }}</th>
                                <td>{{ post.visitor.visitor.name }}</td>
                                <td>{{ post.visitor.date }}</td>
                                <td>{{ post.visitor.filial }}</td>
                                <td>{{ post.visitor.visitor.status }}</td>
                                <td>{{ post.visitor.visitor.phone_number }}</td>
                                <td>{{ post.visitor.consultant }}</td>
                                <td>
                                    <button data-id="{% url 'post_call_content' post.id %}" type="button" class="btn btn-success fbtn" data-toggle="modal"
                                            onclick="getInfo({{ post.visitor.visitor.id }}, 'modal2')"
                                    >
                                        <a>Изменить</a>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if  call_post.has_other_pages %}
                        <ul class="pagination">
                            {% if call_post.has_previous %}
                                <li><a href="?page2={{ call_post.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in call_post.paginator.page_range %}
                                {% if users.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% elif i > call_post.number|add:'-5' and i < call_post.number|add:'5' %}
                                    <li><a href="?page2={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if call_post.has_next %}
                                <li><a href="?page2={{ call_post.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- The Modal -->
        <!--Create-->
        <div class="myModal def-modal modal1">
            <button class="hide-modal float-right">X</button>
            <div class="data-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><span>Имя</span><span class="c-md-name"></span>
                                </li>
                                <li><span>Номер телефона</span><span class="c-md-number"></span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><span>Статус</span><span class="c-md-status"></span>
                                </li>
                                <li><span>Характер</span><span class="c-md-character"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="customer-info">

                    </div>


                    <form class="call-form" name="editForm" action="{% url 'post_call_content' %}" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="textinput">Информация</label>
                                <input id="textinput" name="call_content" type="text" placeholder=""
                                       class="form-control input-md">
                                <input type="hidden" name="id" value="" class="ci_id">
                            </div>
                            <div class="s-button">
                                <input id="submit-btn" type="submit" name="call_id" class="btn btn-success"
                                       value="Отправить">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="myModal def-modal modal2">
            <button class="hide-modal float-right">X</button>
            <div class="data-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><span>Имя2</span><span class="c-md-name"></span>
                                </li>
                                <li><span>Номер телефона</span><span class="c-md-number"></span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><span>Статус</span><span class="c-md-status"></span>
                                </li>
                                <li><span>Характер</span><span class="c-md-character"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="customer-info">

                    </div>


                    <form  id="update-form-call-content" class="call-form" name="editForm"  method="GET">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="textinput">Информация</label>
                                <input id="textinput" name="call_content" type="text" placeholder=""
                                       class="form-control input-md">
                                <input type="hidden" name="id" value="" class="ci_id">
                            </div>
                            <div class="s-button">
                                <input id="submit-btn" type="submit" name="call_id" class="btn btn-success modal-fbtn"
                                       value="Изменить">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    {% block script %}
        <script>
            $(function () {
                {#$(".modal-fbtn").click(function (e) {#}
                {#    e.preventDefault();#}
                {#    let formData=new FormData();#}
                {#    formData.append("post",$)#}
                {##}


                $(".fbtn").click(function (e) {
                    e.preventDefault();
                    {#e.stopPropagation();#}
                    {#$(".modal-fbtn").attr("data-url", $(this).data("id"));#}
                    $("#update-form-call-content").attr("action", $(this).data("id"))

                })
            })
        </script>
        <script>
            function getInfo(id, elem) {
                $('#call_content_tf').text('');

                function httpGet(url) {

                    return new Promise(function (resolve, reject) {

                        var xhr = new XMLHttpRequest();
                        xhr.open('GET', url, true);

                        xhr.onload = function () {
                            if (this.status == 200) {
                                resolve(this.response);
                            } else {
                                var error = new Error(this.statusText);
                                error.code = this.status;
                                reject(error);
                            }
                        };

                        xhr.onerror = function () {
                            reject(new Error("Network Error"));
                        };

                        xhr.send();
                    });

                }

                httpGet('/api/customer/' + id)
                    .then(response => {
                        let res = JSON.parse(response);
                        console.log(res);
                        console.log("ci_id" + res.id);
                        $('.ci_id').val(res.visitors[0].id);
                        $('.customer-info').text('');
                        $('.c-md-name').text(res.name);
                        $('.c-md-number').text(res.phone_number);
                        $('.c-md-character').text(res.character);
                        $('.c-md-status').text(res.status);
                        $('.c-md-nuance').text(res.nuance);

                        var call_content = "########";


                        var today = new Date();
                        var dd = today.getDate();

                        var mm = today.getMonth() + 1;
                        var yyyy = today.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        today = yyyy + '-' + mm + '-' + dd;


                        for (i = 0; i < res.visitors.length; i++) {
                            for (j = 0; j < res.visitors[i].callers.length; j++) {
                                if (res.visitors[i].callers[i] != null) {
                                    call_content = res.visitors[i].callers[i].call_content
                                }
                            }
                            $(".customer-info").append('                      <p><span style="color:red;">Дата </span> <span  id="data-a" style="color:red;">' + res.visitors[i].date + '</span></p>\n' +
                                '                    <div class="row">\n' +
                                '                        <div class="col-md-4">\n' +
                                '                            <ul>\n' +
                                '                                <li><span>Нюансы</span> <span id="md-nuance">' + res.nuance + '</span>\n' +
                                '                                </li>\n' +
                                '                                <li><span>Категория</span> <span id="md-category">' + res.visitors[i].category[0].name + '</span>\n' +
                                '                                </li>\n' +
                                '                                <li><span>Наименование</span> <span id="md-title">' + res.visitors[i].name_furniture + '</span>\n' +
                                '                                </li>\n' +
                                '                            </ul>\n' +
                                '\n' +
                                '                        </div>\n' +
                                '                        <div class="col-md-4">\n' +
                                '                            <ul>\n' +
                                '                                <li><span>Тип мебели</span><span id="md-type">' + res.visitors[0].type_furniture + '</span></li>\n' +
                                '                                <li><span>Модель мебели</span><span id="md-model">' + res.visitors[0].model_furniture + '</span>\n' +
                                '                                </li>\n' +
                                '                                <li><span>Цвет</span><span id="md-color">' + res.visitors[0].color + '</span></li>\n' +
                                '\n' +
                                '\n' +
                                '                        </div>\n' +
                                '                        <div class="col-md-4">\n' +
                                '                            <ul>\n' +
                                '                                <li><span>Другие магазины</span><span id="md-magazin">' + res.visitors[0].filial.name + '</span></li>\n' +
                                '                                <li><span>Консултант</span> <span id="md-consultant">' + res.visitors[0].other_shop + '</span></li>\n' +
                                '                                <li><span>Филиал</span><span id="md-filial">' + res.visitors[0].filial.name + '</span></li>\n' +
                                '                            </ul>\n' +
                                '                            </ul>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                    <p><span style="color:blue;">Дата </span><span style="color:blue;" id="data-a">' + today + ' </span></p>\n' +
                                '                    <div class="row">\n' +
                                '                        <div class="col-md-3">\n' +
                                '                            <ul>\n' +
                                '                                <li><span id="md-call-center-name" style="color: black">Хамида</span></li>\n' +
                                '                            </ul>\n' +
                                '\n' +
                                '                        </div>\n' +
                                '                        <div class="col-md-9">\n' +
                                '                            <ul>\n' +
                                '                                <li><span>Контент разговора</span></li>\n' +
                                '                                <textfield id="call_content_tf">' + call_content + '</textfield>\n' +
                                '\n' +
                                '                            </ul>\n' +
                                '\n' +
                                '\n' +
                                '                        </div>\n' +
                                '                    </div>\n');





                            $(`.${elem}`).show();
                        }
                    });
            }

            $(".hide-modal").click(function (e) {
                $(".def-modal").hide();


            })


        </script>

    {% endblock %}

    </div>
{% endblock %}